@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: #0c0c08;
    --background: #fbfbf9;
    --primary: #c6d4bf;
    --secondary: #e0ebe2;
    --accent: #66996e;
  }
  .dark {
    --text: #f7f7f3;
    --background: #060604;
    --primary: #32402b;
    --secondary: #141f16;
    --accent: #66996e;
  }
}



html, body {
  background-color: var(--background);
  scroll-behavior: smooth;
}

#text-area::-webkit-resizer {
  display: none;
}

#text-area::-webkit-scrollbar {
  display: none;
}

#text-area {
  -ms-overflow-style: none; 
  scrollbar-width: none;
}

.animate-in {
  animation: animateIn 0.3s ease 0.15s both;
}

.animate-in-slow {
  animation: animateIn 0.8s ease 0.4s both;
}

@keyframes animateIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-in-side {
  animation: animateSide 0.3s ease 0.15s both;
}

@keyframes animateSide {
  from {
    opacity: 0;
    transform: translateX(10px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}