@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: #000000;
    --background: #ffffff;
    --primary: #8fb2ff;
    --secondary: #ebf1ff;
    --accent: #d31d6c;
  }
  .dark {
    --text: #ffffff;
    --background: #000000;
    --primary: #002470;
    --secondary: #000614;
    --accent: #e22c7b;
  }
}

html, body {
  background-color: var(--background);
  scroll-behavior: smooth;
}

#text-area::-webkit-scrollbar {
  display: none;
}

#text-area {
-ms-overflow-style: none; 
scrollbar-width: none;
}